@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");

@font-face {
  font-family: 'GoyangIlsan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MaplestoryOTFLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GoyangDeogyang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangDeogyang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
}
/* 적응형 사이즈 구분.start*/
$mobile-xs: 360px;
$mobile-s: 420px;
$tablet: 992px;
$desktop: 1500px;
$tablet-s: 767px;
$banner : 1110px;
$sm : 575px; 
@mixin sm {
  @media (max-width: #{$sm}) {
    @content;
  }
}
@mixin mobile-xs {
  @media (max-width: #{$mobile-xs}) {
    @content;
  }
}/*갤럭시 fold 때문에 달아둠*/
@mixin mobile-s {
  @media (max-width: #{$mobile-s}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
@mixin tablet-s {
  @media (max-width: #{$tablet-s}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}
@mixin banner {
  @media (max-width: #{$banner}) {
    @content;
  }
}
/*적응형 사이즈 구분.end*/

.box {
  position: relative;
  width: 100%; /* 원하는 너비 */
}

.box:before {
  content: "";
  display: block;
  padding-top: 100%; /* 1:1 비율 */
}

//필터 사이즈 시작
$filter-height-desktop: 350px;
$filter-height-tablet: 320px;
$filter-height-mobile: 310px;
//필터 사이즈 끝

//검색 사이즈 시작
$search-height-desktop: 540px;
$search-height-tablet: 540px;
$search-height-mobile: 440px;
//검색 사이즈 끝

$list-desktop-height: 690px;
$list-tablet-height: 565px;
$list-mobile-height: 235px;

$pl-6 : #fbebfd;
$pl-5 : #fadcff;
$pl-4 : #f8d2ff;
$pl-3 : #cf88db;
$pl-2 : #ed84ff;
$pl-1 : #e760ff;
$pl-0 : #a442b6;

$pa-0 : #ea80fc;
$pa-1 : #d500f9;
$pa-2 : #aa00ff;

